@import '../../assets/external-styles/variables';

header {
	background-color: $my-green;
	padding: 2em 1em 1em;
	box-shadow: $my-shadow-2;
	margin-bottom: 2em;

	

	h1, p {
		margin: 0;
		color: #fff;
	}

	p {
		text-align: right;
	}
}
