@import '../../assets/external-styles/variables';
@import '../../assets/external-styles/general';

.single-result-container {
  background-color: $my-purple; 
  box-shadow: $my-shadow-10;
  padding: 1em;

  h2, p, a {
    margin: 1em 0;
    color: white;
  }

  .result-images-container {
    transition: 250ms ease-in all;
    text-align: center;
    img {
      transition: 250ms ease-in all;
      box-shadow: $my-shadow-10;
      margin: 1em 0;
      max-width: 100%;
    }
  }

  .link-more-info {
    color: #d2d2d2;
    font-size: 1.2em;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

 .result-nav-container {
   margin: 1em 0;
   button {
     -webkit-appearance: none;
     -moz-appearance: none;
     cursor: pointer;
     background: white;
     border: none;
     box-shadow: $my-shadow-3;
     padding: 0.5em;
     font-size: 0.85em;
   }

  .result-previous,
  .result-next {
    i {
      transition: 150ms ease-in-out all;
      position: relative;
    }
  }

  .result-previous {
    &:hover i {
      transform: translateX(-2px);
    }
  }

  .result-next {
    &:hover i {
      transform: translateX(2px);
    }
  }

 }

  .col-lg-left {
    text-align: left;
  }
  .col-lg-right {
    text-align: right;
  }

  
}

@media screen and ($desktop-1024){
  .single-result-container {
    .result-images-container {
      text-align: left;

      img {
        margin: 0 1em;
        max-width: 40%;
      }
    }

    .result-nav-container {
      button {
        font-size: 1em;
      }
    }
  }
}
