@import '../../assets/external-styles/variables';
@import '../../assets/external-styles/general';

.result-container {
  background-color: $my-purple; 
  box-shadow: $my-shadow-10;
  padding: 1em;

  h2, p, a {
    margin: 1em 0;
    color: white;
  }

  .result-images-container {
    transition: 250ms ease-in all;
    text-align: center;
    img {
      transition: 250ms ease-in all;
      box-shadow: $my-shadow-10;
      margin: 1em 0;
      max-width: 100%;
    }
  }

  .link-more-info {
    font-size: 1.2em;
  }

 .result-nav-container {
   margin: 1em 0;
   button {
     -webkit-appearance: none;
     -moz-appearance: none;
     cursor: pointer;
     background: white;
     border: none;
     box-shadow: $my-shadow-3;
     padding: 0.5em;
     font-size: 0.85em;
   }
 }

//  .col-lg-left, .col-lg-right {
//    text-align: center;
//  }

  .col-lg-left {
    text-align: left;
  }
  .col-lg-right {
    text-align: right;
  }
}

@media screen and ($breakpoint-719) {
  // .col-lg-left {
  //   text-align: left;
  // }
  // .col-lg-right {
  //   text-align: right;
  // }
}

@media screen and ($tablet-768) {
  .result-container {
    .result-images-container {
      img {
        // margin: 0 1em;
        // max-width: 60%;
      }
    }
    .result-nav-container {
      
    } 
  }


}

@media screen and ($desktop-1024){
  .result-container {
    .result-images-container {
      text-align: left;

      img {
        margin: 0 1em;
        max-width: 40%;
      }
    }

    .result-nav-container {
      button {
        font-size: 1em;
      }
    }
  }
}
