<div class="search-controls-container">
  <form #relatedControls="ngForm" novalidate>
    <h4 class="search-controls-header">Filter By:</h4>
    <div class="search-controls-btns-container">
      <button (click)="openModal('platforms-modal')" id="platform-btn" class="search-controls-btn">Platform <i class="fa fa-caret-down"></i></button>
      <!-- Platforms that are selected as filters will be displayed here -->
      <div class="platform-labels-container" [@fadeInOut]="selectedPlatforms.length" *ngIf="selectedPlatforms.length && !modalIsOpen">
        <span *ngFor="let platform of platforms">
          <button 
          [@fadeInOut]="platform.checked" 
          *ngIf="platform.checked" 
          class="platform-label"
          (click)="updateSelectedPlatforms(platform)">
            {{platform.name}} <i class="fa fa-times selected-platform-remove"></i>
          </button>
        </span>
      </div>
    </div>
    <div class="date-filter-container">
      <p class="date-filter-header">Date</p>
      From {{ controls.dateRange[0] }} to {{ controls.dateRange[1] }}
      <nouislider name="dateRange" [connect]="true" [min]="minYear" [max]="maxYear" [step]="1" [(ngModel)]="controls.dateRange" (ngModelChange)="dateChange($event)"></nouislider>
    </div>
    <div class="order-by-container">
      <h4 class="search-controls-header">Give Me:</h4>
      <div *ngFor="let choice of orderChoices" class="radio-container">
        <input type="radio" [(ngModel)]="controls.order" name="order" [value]="choice.value" (change)="onChange()">
        <label>{{choice.label}}</label>
      </div>
    </div>
  </form>
  <modal (onChange)="onModalChange($event)" id="platforms-modal">
    <div class="modal platforms-modal-inner" role="dialog" aria-labelledby="Platform Selection" aria-describedby="Select platforms to filter by.">
      <div class="modal-body">
        <div class="modal-body-header">
          <button (click)="closeModal('platforms-modal')" aria-label="Close Navigation"><i class="fa fa-times"></i></button>
        </div>
        <div class="modal-filter-bar">
          <input type="text" id="text-platform-search" [(ngModel)]="platformText" placeholder="Narrow down list.." aria-label="Search">
        </div>
        <div *ngFor="let platform of platforms | filter : platformText" class="platform-container">
          <label for={{platform.id}}>{{platform.name}}</label>
          <input type="checkbox" name="platform" value={{platform.id}} [checked]="platform.checked" (change)="updateSelectedPlatforms(platform)" />
        </div>
        <div class="modal-body-footer">
          <span tabindex="0"></span>
        </div>
      </div>
    </div>
    <div class="modal-background" tabindex="-1"></div>
  </modal>
</div>

