@import '../../assets/external-styles/variables';

.search-controls-container {
  margin: 1.5em 0;

  .search-controls-header {
    font-weight: bold;
    margin-bottom: 1em;
  }

  .search-controls-btns-container {
    .search-controls-btn, .search-controls-btn i {
      color: white;
    }

    .search-controls-btn {
      -webkit-appearance: none;
      cursor: pointer;
      background-color: $my-green;
      border: none;
      box-shadow: 1px 1px 2px grey;
      padding: 0.5em;
    }
  }

  .platform-labels-container {
    margin: 1em 0;

    .platform-label {
      cursor: pointer;
      display: inline-block;
      padding: 0.5em;
      background: lightgrey;
      margin: 0.5em;
      border-radius: 0.5em;
      box-shadow: $my-shadow-2;
    }

    .selected-platform-remove {
      margin-left: 0.75em;
    }
  }

  .date-filter-container {
    margin: 1em 0;
    padding: 1.5em;
    border: 1px solid lightgrey;
  }

  .radio-container {
    margin: 0.5em 0;

    input {
      cursor: pointer;
      margin-right: 0.25em;
    }
  }

  .validation-error {
    background-color: #ff6666;
    padding: 0.3em;
    border-radius: 5px;
    color: white;
  }
}

/* MODAL STYLES
-------------------------------*/

.platforms-modal-inner {
  .modal-body {
    background-color: #8961bb;
    box-shadow: $my-shadow-2;

    .modal-body-header {
      margin-bottom: 0.5em;
      padding-bottom: 0.5em;
      border-bottom: 1px solid white;
      button {
        -webkit-appearance: none;
        -moz-appearance: none;
        cursor: pointer;
        background: transparent;
        border: none;
        i {
          color: white;
        }
        
      }
    }

    .modal-filter-bar {
      input {
        cursor: default;
      }
    }
  }
  
  
  div label {
      color: white;
  }

  div input {
    cursor: pointer;
    margin-left: 0.25em;
  }
}

/* NOUI SLIDER STYLE OVERRIDES 
-------------------------------*/

.noUi-handle {
  cursor: pointer;
}
