.search-controls-container {
  position: relative;
  margin-top: 0.5em;

  .search-control-container {
    margin-bottom: 0.5em;
    select {
      // background: transparent;
      display: block;
      
    }

    .styled-select {
      background: url(../../assets/images/arrow-2.png) no-repeat 96% 0;
      height: 29px;
      overflow: hidden;
      width: 19em;
    }

    .styled-select select {
      background: transparent;
      color: white;
      border: none;
      font-size: 14px;
      height: 29px;
      padding: 5px; /* If you add too much padding here, the options won't show in IE */
      width: 23em;
    }

    .semi-square {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }

    .green   { background-color: #03C9A9; }




  }

  

  .search-controls-btns-container {
    .search-controls-btn {
      background-color: white;
      padding: 0.5em;
    }
  }

  .expanded-container {
    position: fixed;
    margin-top: 1em;
    padding: 1em;
    background-color: #b4f1b4;
    // border-radius: 1em;
    box-shadow: 1px 1px 8px black;
    overflow-y: scroll;
    max-height: 15em;
  }
}