@import '../../assets/external-styles/variables';

.search-controls-container {
  position: relative;
  margin-top: 0.5em;

  .search-control-container {
    margin-bottom: 0.5em;

    select {
      display: block;
      color: white;
      max-width: 100%;
      height: 1.75em;
      background-color: $my-green;
    }
  }

  .search-controls-btns-container {

    .search-controls-btn {
      background-color: white;
      padding: 0.5em;
    }
  }
}