<div class="search-controls-container">
    <p class="search-controls-header">Filter By:</p>
    <div class="search-control-container">
      <label for="selected-platform">Platform</label>
      <select [(ngModel)]="selectedPlatform" id="selected-platform">
        <option *ngFor="let platform of platforms" [ngValue]="platform">{{platform.name}}</option>
      </select>
    </div>
    <div class="search-control-container">
      <label for="selected-genre">Genre</label>
      <select [(ngModel)]="selectedGenre" id="selected-genre">
        <option *ngFor="let genre of genres" [ngValue]="genre">{{genre.name}}</option>
      </select>
    </div>
</div>

