<app-loader *ngIf="!filters.selectedPlatform || !filters.selectedGenre"></app-loader>
<section [ngClass]="{'hidden': !filters.selectedPlatform || !filters.selectedGenre}" class="single-search-container">
	<p class="p-lg">Find a game that you'd like to see more of.</p>
	<div class="input-container">
		<form #f="ngForm" (ngSubmit)="searchGame(q, filters)">
			<div class="form-inline">
				<input [disabled]="singleSearchDisabled.value" id="single-search-input" name="search" [(ngModel)]="q">
				<button [disabled]="singleSearchDisabled.value" type="submit" class="btn-submit"><i class="fa fa-search" aria-hidden="true"></i></button>
			</div>
			<app-single-search-controls [inputsDisabled]="singleSearchDisabled" (onFiltersChange)="onFiltersChange($event)">
			</app-single-search-controls>
		</form>
	</div>
</section>