.result-container {
  background-color: #8961bb; 
  box-shadow: 1px 1px 10px black;
  padding: 1em;

  h2, p {
    margin: 1em 0;
    color: white;
  }

 img {
   width: 12em;
   box-shadow: 1px 1px 10px black;
 }

 .result-nav-container {
   button {
     padding: 0.5em;
   }

   button.result-next {
    //  float: right;
   }
 }
}