<div class="row">
	<div class="col-5">
		<div class="single-search-outer-container" [ngClass]="{ 'faded': relatedInFocus }">
			<app-single-search></app-single-search>
			<div class="my-overlay-clear" *ngIf="relatedInFocus"></div>
		</div>
		<div class="related-search-outer-container" [ngClass]="{ 'faded': !relatedInFocus }">
			<app-related-search [inFocus]="relatedInFocus" (inFocusChange)="relatedInFocus = $event" class="desktop-related-search" *ngIf="selectedResult" [selected]="selectedResult"></app-related-search>
			<div class="my-overlay-clear" *ngIf="!relatedInFocus"></div>
		</div>
		

		<!-- Toggle this when you want to just see the related search section in the view w/o having to make an API call (App will not fully work though!) -->
		<!-- <app-related-search></app-related-search> -->
		
	</div>
	<div class="col-7">
		<app-single-result id="single-result" *ngIf="singleSearchResults" [results]="singleSearchResults"></app-single-result>
	</div>
</div>

<!-- Mobile related search -->
<div class="row mobile-related-search-container">
	<div class="col-12">
		<app-related-search *ngIf="selectedResult" [selected]="selectedResult"></app-related-search>
	</div>
</div>
