<div class="search-controls-container">
  <p class="search-controls-header">Filter By:</p>
  <div class="search-controls-btns-container">
    <button (click)="platformsExpanded = true" class="search-controls-btn">Platform <i class="fa fa-caret-down"></i></button>
  </div>
  <div class="expanded-container platforms-expanded-container" *ngIf="platformsExpanded">
    <div class="expanded-container-top">
      <button (click)="platformsExpanded = false"><i class="fa fa-times"></i></button>
    </div>
    <div *ngFor="let platform of platforms" class="platform-container">
      <label for={{platform.id}}>{{platform.name}}</label>
      <input type="checkbox" name="platform" value={{platform.id}} [checked]="platform.checked" (change)="updateState(platform)" />
    </div>
  </div>
  <!-- Inputs to specify a range -->

  <!-- Quick Preferences (top-rated, lesser-known) -->
</div>

