.search-controls-container {
  position: relative;
  margin: 1.5em 0;

  .search-controls-btns-container {
    .search-controls-btn, .search-controls-btn i {
      color: white;
    }

    .search-controls-btn {
      -webkit-appearance: none;
      background-color: #03C9A9;
      border: none;
      box-shadow: 1px 1px 2px grey;
      padding: 0.5em;
    }
  }

  .expanded-container {
    position: absolute;
    margin-top: 1em;
    padding: 1em;
    background-color: #8961bb;
    // border-radius: 1em;
    box-shadow: 1px 1px 8px black;
    overflow-y: scroll;
    max-height: 15em;
  }

  .expanded-container div label {
    color: white;
  }
}