@import '../../assets/external-styles/variables';

.search-controls-container {
  margin: 1.5em 0;

  .search-controls-header {
    font-weight: bold;
    margin-bottom: 1em;
  }

  .search-controls-btns-container {
    .search-controls-btn, .search-controls-btn i {
      color: white;
    }

    .search-controls-btn {
      -webkit-appearance: none;
      background-color: $my-green;
      border: none;
      box-shadow: 1px 1px 2px grey;
      padding: 0.5em;
    }
  }

  .platform-labels-container {
    margin: 1em 0;

    .platform-label {
      cursor: pointer;
      display: inline-block;
      padding: 0.5em;
      background: lightgrey;
      margin: 0.5em;
      border-radius: 0.5em;
      box-shadow: $my-shadow-2;
    }

    .selected-platform-remove {
      margin-left: 0.75em;
    }
  }

  .date-filter-container {
    margin: 1em 0;
    padding: 0.5em;
    border: 1px solid lightgrey;

    .date-filter {
      margin: 0.5em 0;
    }

    label {
      display: block;
    }
    
    input {
      // width: 7em;
      width: 75%;
      line-height: 25px;
      padding: 0 3px;
      border: 1px solid lightgrey;
    }
  }

  .radio-container {
    margin: 0.5em 0;
  }

  .validation-error {
    background-color: #ff6666;
    padding: 0.3em;
    border-radius: 5px;
    color: white;
  }
}

@media screen and ($breakpoint-442) {
  .search-controls-container {
    .date-filter-container {
      input {
        width: 7em;
      }
    }
  }
}

@media screen and ($tablet-768){
  .search-controls-container {
    .date-filter-container {
      .date-filter {
        display: inline-block;
      }
    }
  }
}
