<div class="search-controls-container">
  <p class="search-controls-header">Filter By:</p>
  <div class="search-controls-btns-container">
    <button (click)="openModal('platforms-modal')" class="search-controls-btn">Platform <i class="fa fa-caret-down"></i></button>
    <div class="platform-labels-container" *ngIf="selectedPlatforms.length">
      <span *ngFor="let selected of selectedPlatforms">
        <span class="platform-label" (click)="console.log(label)">
          {{selected.name}} <i class="fa fa-times selected-platform-remove"></i>
        </span>
      </span>
    </div>
  </div>

  <modal id="platforms-modal" class="">
    <div class="modal platforms-modal-inner">
      <div class="modal-body">
        <div class="modal-body-header">
          <button (click)="closeModal('platforms-modal')"><i class="fa fa-times"></i></button>
        </div>
        <div *ngFor="let platform of platforms" class="platform-container">
          <label for={{platform.id}}>{{platform.name}}</label>
          <input type="checkbox" name="platform" value={{platform.id}} [checked]="platform.checked" (change)="updateState(platform)" />
        </div>
      </div>
    </div>
    <div class="modal-background"></div>
  </modal>


  <!-- Inputs to specify a range -->

</div>

