.button-deal {
  font-size: 1.2em;

  // 
  margin: 0 0.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background: transparent;
  border: none;
  border-left: 1px solid;
  padding-left: 0.5em;

  &:hover {
    text-decoration: underline;
  }
}

.button-deal--black {
}

.button-deal--white {
  color: white;
}