@import '../../assets/external-styles/variables';
@import '../../assets/external-styles/general';

.related-search-container {
  text-align: center;
  margin: 3em 0;

  .my-btn {
    margin: 0.5em;
    box-shadow: 1px 1px 5px black;
  }

  .btn-get-related {
    font-size: 1.25em;
    padding: 0.5em;
    width: 6em;
  }

  .btn-get-related[disabled] {
    cursor: default;
    background: $my-green-disabled; 
  }
}

@media screen and ($breakpoint-442){
  .related-search-container {
    text-align: left;
  }
}

