@import '../assets/external-styles/variables';
@import '../assets/external-styles/normalize.css'; 
@import '../assets/external-styles/simple-grid.css';

* {
	margin: 0;
	padding: 0;
}

.overlay {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.hidden {
  opacity: 0;
}

/* MODAL STYLES
-------------------------------*/
modal {
  /* modals are hidden by default */
  display: none;
  .modal {
      /* modal container fixed across whole screen */
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      /* z-index must be higher than .modal-background */
      z-index: 1000;
       
      /* enables scrolling for tall modals */
      overflow: auto;
      .modal-body {
        .modal-body-header {
          text-align: right;
        }
          padding: 20px;
          background: #fff;
          /* margin exposes part of the modal background */
          margin: 5vh auto;
          max-width: 25em;
          
      }
	}
	
  .modal-background {
      /* modal background fixed across whole screen */
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      /* semi-transparent black  */
      background-color: #000;
      opacity: 0.75;
       
      /* z-index must be below .modal and above everything else  */
      z-index: 900;
  }
}

body.modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}

/*-------------------------------*/


/* Overriding third party range slider (ng2-nouislider) styles
-------------------------------*/

.noUi-connect {
  background: $my-green;
}

.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 27px;
}

/*-------------------------------*/