<app-header></app-header>
<div class="container">
  <app-single-game 
    id="single-game"
    (onAppViewChange)="handleAppViewChange($event)">
  </app-single-game>
  <app-related-results 
    id="related-results" 
    [relatedResults]="relatedResults" 
    *ngIf="relatedResults && showRelatedResults"
    [@fadeInOut]="relatedResults && showRelatedResults"
    in-view 
    (inview)="resultsInView = $event.status"
    [throttle]="200">
  </app-related-results>
  <div *ngIf="relatedResults && showRelatedResults && resultsInView" class="fixed-auto-scroll-container">
    <span (click)="scrollToSearchSection()"><i class="fa fa-angle-up"></i></span>
  </div>
</div>
<div *ngIf="inModalState" class="overlay"></div>
