@import '../../assets/external-styles/variables';
@import '../../assets/external-styles/general';

.desktop-related-search {
  display: none;
}

.single-search-outer-container,
.related-search-outer-container {
  transition: 250ms ease-in-out all;
  position: relative;

  // New layout
  max-width: 50em;
  margin: auto;
}

.single-result-outer-container {
  // New layout
  max-width: 50em;
}

@media screen and ($breakpoint-719){
  .desktop-related-search {
    display: block;
  }

  .mobile-related-search-container {
    display: none;
  }

}