@import '../../assets/external-styles/variables';
@import '../../assets/external-styles/general';

.related-results-container {
  margin-top: 2em;
}

.related-result-container {
  border-bottom: 2px solid black;
  padding: 1em;

  h2, p, a {
    margin: 1em 0;
  }

  img {
    box-shadow: $my-shadow-10;
    max-width: 75%;
  }

 .result-nav-container {
   margin: 1em 0;
   button {
     padding: 0.5em;
   }
 }
 .image-container {
    transition: 250ms ease-in all;
  }

  .link-more-info {
    font-size: 1.2em;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .btn {
    -webkit-appearance: none;
    transition: 150ms ease-in-out all;
    cursor: pointer;
    padding: 0.5em;
    border: 1px solid lightgrey;
    background: white;
    font-weight: bold;

    &:hover {
      border-color: #333447;
    }
  }
  
}

.zero-state-container {
  margin: 4em 0;
}

@media screen and ($desktop-1024){
  .related-result-container {
    img {
      max-width: 60%;
    }
  }
}
