// Variables

$breakpoint-442: 'min-width: 442px';
$breakpoint-719: 'min-width: 719px';
$tablet-768: 'min-width: 768px';

$breakpoint-973: 'min-width: 973px';
$desktop-1024: 'min-width: 1024px';

// Colors
$my-green: #03C9A9;
$my-green-disabled: rgb(171, 218, 210);
$my-green-hover: #05b599;
$my-purple: #8961bb;
$error-red: #ff8282;

// Shadows (Black)
$my-shadow-2: 1px 1px 2px black;
$my-shadow-3: 1px 1px 3px black;
$my-shadow-10: 1px 1px 10px black;